.active-applications {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2px;
    row-gap: 2px;
}

.active-application {
    text-align: center;
    border-radius: 10px;
    background-color: #546E7A;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: white;
    font-size: 12px;
    cursor: default;
}

.active-application-retreat {
    font-weight: bold;
    padding: 2px;
}

.active-application-state {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-transform: uppercase;
    padding: 2px;
}

.active-application-state-applied {
    background-color: #F9A825;
}

.active-application-state-selected {
    background-color: #2E7D32;
}

.active-application-state-deselected {
    background-color: #D32F2F;
}

.has-unattended-deformities-indicator {
    background-color: #0D47A1;
}

.has-stress-indicator {
    background-color: #4E342E;
}