.yogi-applications {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.yogi-application {
    text-align: center;
    border-radius: 10px;
    background-color: #546E7A;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: white;
    font-size: 12px;
    cursor: default;
}

.yogi-application-retreat {
    font-weight: bold;
    padding: 2px;
}

.yogi-application-state {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-transform: uppercase;
    padding: 2px;
}

.active-application-state-applied {
    background-color: #F9A825;
}

.active-application-state-waiting {
    background-color: #AFB42B;
}

.active-application-state-selected {
    background-color: #2E7D32;
}

.active-application-state-deselected {
    background-color: #8D6E63;
}

.active-application-state-unattending {
    background-color: #8D6E63;
}

.active-application-state-unconfirmed {
    background-color: #E53935;
}

.active-application-state-pending {
    background-color: #81C784;
}

.participation-state-attended {
    background-color: #2E7D32;
}

.participation-state-noshow {
    background-color: #E53935;
}

.participation-state-absent {
    background-color: #2196F3;
}