.indicator {
    border-radius: 500px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
}

.indicator img {
    margin-top: 2px;
    width: 20px;
    height: 20px;
}

.gender-indicator {
    background: #37474F;
}

.has-kids-indicator {
    background: #1A237E;
}

.has-permission-indicator {
    background: #E53935;
}

.reverend-indicator {
    background: #BF360C;
}