.yogi-row-reverend {
  background-color: #fff9c4; /* Keeping a light yellow for reverends, maybe add to variables later */
}

.yogi-row-td {
  background-color: transparent !important;
  overflow: hidden;
}

.yogi-row-actions {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.yogi-profile-info {
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
  display: flex;
  column-gap: var(--spacing-m);
  row-gap: var(--spacing-xs);
  flex-wrap: wrap;
}

.yogi-name-row {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xs);
  align-items: center;
  font-weight: 600;
}

.mini-indicators-container {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
}

.invitation-tag-wrapper {
  margin-top: var(--spacing-m);
}
