.pagination {
    padding-right: 0;
    margin-bottom: 5px;
    margin-top: 5px;
}



.selection-progress-reverend-male {
    background: repeating-linear-gradient(45deg,
            #FF8F00,
            #FF8F00 2px,
            #1565C0 5px,
            #1565C0 10px);
}

.selection-progress-reverend-female {
    background: repeating-linear-gradient(-45deg,
            #FF8F00,
            #FF8F00 2px,
            #D81B60 5px,
            #D81B60 10px);
}

.selection-progress-male {
    background-color: #1565C0;
}

.selection-progress-female {
    background-color: #D81B60;
}

.yogi-list-top-bar {
    margin-top: 20px;
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: flex-start;
}

.yogi-list-top-bar button[data-test="dhis2-uicore-dropdownbutton-toggle"] {
    height: 40px !important;
}

.yogi-selection-progress {
    flex-grow: 1;
}

.selection-progress-remaining {
    background-color: #CFD8DC;
}

.attendance-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.attendance-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* Add column separators */
.yogi-table {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 0;
}

.yogi-table th,
.yogi-table td {
    border-right: 1px solid #e0e0e0;
}

/* Explicit column widths */
.yogi-table th:nth-child(2) {
    width: 100px;
}

.yogi-table th:nth-child(3) {
    width: 300px;
}

.yogi-table th:nth-child(4) {
    width: 200px;
}

.yogi-table th:nth-child(5) {
    width: 160px;
}

.yogi-search-input {
    min-width: 300px;
    height: 40px;
}