.pagination {
    padding-right: 0;
    margin-bottom: 5px;
    margin-top: 5px;
}

.yogi-table {
    margin-bottom: 0;
}

.selection-progress-reverend-male {
    background: repeating-linear-gradient(45deg,
            #FF8F00,
            #FF8F00 2px,
            #1565C0 5px,
            #1565C0 10px);
}

.selection-progress-reverend-female {
    background: repeating-linear-gradient(-45deg,
            #FF8F00,
            #FF8F00 2px,
            #D81B60 5px,
            #D81B60 10px);
}

.selection-progress-male {
    background-color: #1565C0;
}

.selection-progress-female {
    background-color: #D81B60;
}

.yogi-list-top-bar {
    margin-top: 20px;
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}

.yogi-selection-progress {
    flex-grow: 1;
}

.selection-progress-remaining {
    background-color: #CFD8DC;
}