name: Deploy Admin App

on:
  push:
    branches:
      - main
    paths:
      - 'admin/**'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./admin
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install dependencies
        run: yarn install
      - name: Build
        run: yarn build
      - name: Deploy
        run: yarn deploy ${{ secrets.DHIS2_BASE_URL }} --username ${{ secrets.DHIS2_USERNAME }} 
        env:
          D2_PASSWORD: ${{ secrets.DHIS2_PASSWORD }}
